<div class="h-screen w-full flex flex-col overflow-hidden bg-white">
  
  <app-header></app-header>

  
  <section class="flex-shrink-0 px-6 py-3">
    <div class="flex gap-3 overflow-x-auto pb-1 scrollbar-hide">
      <a
        *ngFor="let item of visibleItems"
        [routerLink]="item.route"
        class="block flex-shrink-0 w-[160px] h-[100px] hover:opacity-90 transition-opacity"
      >
        <app-card
          [label]="item.label"
          [borderColorClass]="getCardBorderClass(item)"
        >
        </app-card>
      </a>
    </div>
  </section>

  
  <div class="flex-1 min-h-0 px-6 pb-6 flex flex-col lg:flex-row gap-6">
    
    <div class="order-2 lg:order-1 flex-1 lg:flex-[2] min-h-0">
      <app-news-section></app-news-section>
    </div>
    
    <div class="order-1 lg:order-2 flex-1 lg:flex-1 min-h-0">
      <app-calendar-section></app-calendar-section>
    </div>
  </div>
</div>
